panel/node_modules/
panel/data/
*.log
.DS_Store
/.vs/slnx.sqlite
/.vs/Panel-NaiveProxy-by-RIXXX-dev.slnx/FileContentIndex/4217e23d-9575-4505-952d-a3abe5923d09.vsidx
/.vs/Panel-NaiveProxy-by-RIXXX-dev.slnx/FileContentIndex/31f48962-9fc2-450c-9f5a-2c3194bda42f.vsidx
/.vs/Panel-NaiveProxy-by-RIXXX-dev.slnx/FileContentIndex/5bf49202-136b-4994-bda3-591ea8804bc5.vsidx
/.vs/Panel-NaiveProxy-by-RIXXX-dev.slnx/FileContentIndex/509b523b-607a-411e-9f30-afe31a55fb91.vsidx
/.vs/Panel-NaiveProxy-by-RIXXX-dev.slnx/FileContentIndex/b72ba689-edca-435c-be9c-947c377deee0.vsidx
/.vs/Panel-NaiveProxy-by-RIXXX-dev.slnx/FileContentIndex/3edb1d51-38b3-4d77-abe8-0249f1dfea14.vsidx
/.vs/Panel-NaiveProxy-by-RIXXX-dev.slnx/FileContentIndex/ec5aadca-f89f-40f2-9669-abb711dc8853.vsidx
/.vs/Panel-NaiveProxy-by-RIXXX-dev.slnx/FileContentIndex/d8f7ee13-a4c4-4b26-90a8-7ae56b4ac6b3.vsidx
/.vs/Panel-NaiveProxy-by-RIXXX-dev.slnx/FileContentIndex
